{%- unless cardStyle -%}
{%- assign cardStyle = 'cardsD' -%}
{%- endunless -%}
{%- if series.path -%}
{%- capture path -%}{{ series.path }}/{%- endcapture -%}
{%- endif -%}
{%- if series.columns -%}
{%- assign columns = series.columns -%}
{%- endif -%}
<ul class="{{ cardStyle }} refArchPanel x{{ columns }}">
    {%- for article in series.articles %}
    <li>
        <a href="./{{ path }}{{ article.id }}.md">
            <div class="cardSize">
                <div class="cardPadding">
                    <div class="card">
                        <div class="cardImageOuter">
                            <div class="cardImage bgdAccent1 cardScaleImage" style="background-image: url('./{{ path }}images/{{ article.id }}.svg');">
                            </div>
                        </div>
                        <div class="cardText">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {%- endfor %}
</ul>