{% unless cardStyle %}
{% assign cardStyle = 'cardsD' %}
{% endunless %}
<ul class="{{ cardStyle }} refArchPanel x{{ columns }}">{% for article in series.articles %}
    <li>
        <a href="./{{ series.path }}/{{ article.id }}.md">
            <div class="cardSize">
                <div class="cardPadding">
                    <div class="card">
                        <div class="cardImageOuter">
                            <div class="cardImage bgdAccent1 cardScaleImage" style="background-image: url('./{{ series.path }}/images/{{ article.id }}.svg');">
                            </div>
                        </div>
                        <div class="cardText">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>{% endfor %}
</ul>